In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#data selection 
coviddf = pd.read_csv('covid data.csv')
coviddf = coviddf[coviddf['date'] == '30/9/2020']
coviddf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 196 to 48438
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         209 non-null    object
 1   continent                        209 non-null    object
 2   location                         209 non-null    object
 3   date                             209 non-null    object
 4   total_cases                      209 non-null    float64
 5   new_cases                        209 non-null    float64
 6   new_cases_smoothed               209 non-null    float64
 7   total_deaths                     209 non-null    float64
 8   new_deaths                       209 non-null    float64
 9   new_deaths_smoothed              209 non-null    float64
 10  total_cases_per_million          209 non-null    float64
 11  new_cases_per_million            209 non-null    float64
 12  new_cases_smoothed_per_million   209 non-null    float64
 13  total_deaths_per_million         209 non-null    float64
 14  new_deaths_per_million           209 non-null    float64
 15  new_deaths_smoothed_per_million  209 non-null    float64
 16  stringency_index                 144 non-null    float64
 17  population                       209 non-null    int64
 18  population_density               199 non-null    float64
 19  median_age                       185 non-null    float64
 20  aged_65_older                    182 non-null    float64
 21  aged_70_older                    184 non-null    float64
 22  gdp_per_capita                   189 non-null    float64
 23  extreme_poverty                  121 non-null    float64
 24  cardiovasc_death_rate            185 non-null    float64
 25  diabetes_prevalence              192 non-null    float64
 26  female_smokers                   140 non-null    float64
 27  male_smokers                     138 non-null    float64
 28  handwashing_facilities           91 non-null     float64
 29  hospital_beds_per_thousand       164 non-null    float64
 30  life_expectancy                  206 non-null    float64
 31  human_development_index          179 non-null    float64
dtypes: float64(27), int64(1), object(4)
memory usage: 53.9+ KB

In [3]:
#adding the infection Rate

coviddf['Infection Rate %'] = coviddf['total_cases']/ coviddf['population'] * 100
coviddf['Mortality Rate %'] = coviddf['total_deaths'] /coviddf['total_cases'] * 100
coviddf

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,Infection Rate %,Mortality Rate %
196,ABW,North America,Aruba,30/9/2020,3934.0,62.0,38.429,26.0,1.0,0.143,...,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN,3.684694,0.660905
480,AFG,Asia,Afghanistan,30/9/2020,39254.0,15.0,15.571,1458.0,2.0,1.714,...,597.029,9.59,NaN,NaN,37.746,0.50,64.83,0.498,0.100837,3.714271
682,AGO,Africa,Angola,30/9/2020,4905.0,108.0,95.571,179.0,3.0,3.429,...,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581,0.014924,3.649337
879,AIA,North America,Anguilla,30/9/2020,3.0,0.0,0.000,0.0,0.0,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN,0.019997,0.000000
1094,ALB,Europe,Albania,30/9/2020,13518.0,127.0,121.714,384.0,4.0,2.429,...,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.785,0.469734,2.840657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47601,OWID_KOS,Europe,Kosovo,30/9/2020,15574.0,54.0,52.286,625.0,0.0,1.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.805785,4.013099
47784,YEM,Asia,Yemen,30/9/2020,2035.0,0.0,0.429,588.0,0.0,0.143,...,495.003,5.35,7.6,29.2,49.542,0.70,66.12,0.452,0.006823,28.894349
48030,ZAF,Africa,South Africa,30/9/2020,672572.0,903.0,1327.143,16667.0,81.0,78.429,...,200.380,5.52,8.1,33.2,43.993,2.32,64.13,0.699,1.134019,2.478099
48235,ZMB,Africa,Zambia,30/9/2020,14715.0,55.0,46.571,332.0,0.0,0.143,...,234.499,3.94,3.1,24.7,13.938,2.00,63.89,0.588,0.080043,2.256201
48438,ZWE,Africa,Zimbabwe,30/9/2020,7837.0,21.0,18.000,228.0,0.0,0.286,...,307.846,1.82,1.6,30.7,36.791,1.70,61.49,0.535,0.052729,2.909277

In [4]:
coviddf1 = coviddf[['iso_code','location', 'Infection Rate %', 'Mortality Rate %', 'total_cases', 'total_deaths', 'gdp_per_capita', 'population_density', 'continent']]

#check if any of the values duplicated
coviddf1.duplicated()

196      False
480      False
682      False
879      False
1094     False
         ...
47601    False
47784    False
48030    False
48235    False
48438    False
Length: 209, dtype: bool

In [5]:
#rename the index using list comprehension
#renaming the columns
idx = [i for i in range(len(coviddf1))]
coviddf1.index = idx
coviddf1 = coviddf1.rename(columns = {'gdp_per_capita' : 'GDP per Capita', 'iso_code': "ISO", 'location' : 'Country', 'total_cases' : 'Total Cases'})
coviddf1 = coviddf1.rename(columns = {'total_deaths': 'Total Deaths', 'population_density' : 'Population Density', 'population': 'Population', 'continent': 'Continent'})
coviddf1

,ISO,Country,Infection Rate %,Mortality Rate %,Total Cases,Total Deaths,GDP per Capita,Population Density,Continent
0,ABW,Aruba,3.684694,0.660905,3934.0,26.0,35973.781,584.800,North America
1,AFG,Afghanistan,0.100837,3.714271,39254.0,1458.0,1803.987,54.422,Asia
2,AGO,Angola,0.014924,3.649337,4905.0,179.0,5819.495,23.890,Africa
3,AIA,Anguilla,0.019997,0.000000,3.0,0.0,12200.000,NaN,North America
4,ALB,Albania,0.469734,2.840657,13518.0,384.0,11803.431,104.871,Europe
...,...,...,...,...,...,...,...,...,...
204,OWID_KOS,Kosovo,0.805785,4.013099,15574.0,625.0,9795.834,168.155,Europe
205,YEM,Yemen,0.006823,28.894349,2035.0,588.0,1479.147,53.508,Asia
206,ZAF,South Africa,1.134019,2.478099,672572.0,16667.0,12294.876,46.754,Africa
207,ZMB,Zambia,0.080043,2.256201,14715.0,332.0,3689.251,22.995,Africa
208,ZWE,Zimbabwe,0.052729,2.909277,7837.0,228.0,1899.775,42.729,Africa

In [6]:
#check which location has null values
nulldf = coviddf1[coviddf1.isnull().any(axis=1)]
nulldf

,ISO,Country,Infection Rate %,Mortality Rate %,Total Cases,Total Deaths,GDP per Capita,Population Density,Continent
3,AIA,Anguilla,0.019997,0.000000,3.0,0.0,12200.000,NaN,North America
5,AND,Andorra,2.544490,2.695829,1966.0,53.0,NaN,163.755,Europe
16,BES,Bonaire Sint Eustatius and Saba,0.404256,0.943396,106.0,1.0,NaN,NaN,North America
46,CUW,Curacao,0.225472,0.270270,370.0,1.0,NaN,362.644,North America
59,ESH,Western Sahara,0.128237,0.130548,766.0,1.0,NaN,NaN,Africa
65,FLK,Falkland Islands,0.373241,0.000000,13.0,0.0,NaN,NaN,South America
67,FRO,Faeroe Islands,0.947508,0.000000,463.0,0.0,NaN,35.308,Europe
71,GGY,Guernsey,0.381793,5.078125,256.0,13.0,NaN,NaN,Europe
73,GIB,Gibraltar,1.160547,0.000000,391.0,0.0,NaN,3457.100,Europe
80,GRL,Greenland,0.024660,0.000000,14.0,0.0,NaN,0.137,North America
89,IMN,Isle of Man,0.399849,7.058824,340.0,24.0,NaN,147.872,Europe
98,JEY,Jersey,0.404658,7.823961,409.0,32.0,NaN,NaN,Europe
131,MNP,Northern Mariana Islands,0.121619,2.857143,70.0,2.0,NaN,119.878,Oceania
134,MSR,Montserrat,0.260052,7.692308,13.0,1.0,NaN,NaN,North America
139,NCL,New Caledonia,0.009457,0.000000,27.0,0.0,NaN,15.342,Oceania
158,PYF,French Polynesia,0.593085,0.420168,1666.0,7.0,NaN,77.324,Oceania
170,SOM,Somalia,0.022576,2.759197,3588.0,99.0,NaN,23.500,Africa
172,SSD,South Sudan,0.024121,1.814815,2700.0,49.0,1569.888,NaN,Africa
181,SYR,Syria,0.023702,4.749277,4148.0,197.0,2032.620,NaN,Asia
182,TCA,Turks and Caicos Islands,1.771786,0.874636,686.0,6.0,NaN,37.312,North America
198,VAT,Vatican,1.483313,0.000000,12.0,0.0,NaN,NaN,Europe
201,VGB,British Virgin Islands,0.234812,1.408451,71.0,1.0,NaN,207.973,North America
202,VIR,United States Virgin Islands,1.262174,1.517451,1318.0,20.0,NaN,306.480,North America

In [7]:
#drop all null values
coviddf1 = coviddf1.dropna()

coviddf1.isnull().sum()

ISO                   0
Country               0
Infection Rate %      0
Mortality Rate %      0
Total Cases           0
Total Deaths          0
GDP per Capita        0
Population Density    0
Continent             0
dtype: int64

In [8]:
#preparing poverty dataframe
povertydf = pd.read_csv('GiniIndex.csv')
povertydf.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Most Recent Gini Index
0,Aruba,ABW,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.3,51.3
3,Albania,ALB,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.0,NaN,34.6,32.9,33.7,33.2,NaN,33.2
4,Andorra,AND,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:

povertydf = povertydf[['Country Name', 'Country Code', 'Most Recent Gini Index']]
col = povertydf.loc[: , "Most Recent Gini Index"]

povertydf = povertydf[povertydf['Most Recent Gini Index'].notna()]
povertydf = povertydf.rename(columns = {'Country Name': 'Country', 'Country Code':'ISO'})
povertydf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 2 to 263
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 109 non-null    object
 1   ISO                     109 non-null    object
 2   Most Recent Gini Index  109 non-null    float64
dtypes: float64(1), object(2)
memory usage: 3.4+ KB

In [10]:
df = pd.merge(left=coviddf1, right=povertydf, how = 'left', left_on='ISO', right_on='ISO')
df

,ISO,Country_x,Infection Rate %,Mortality Rate %,Total Cases,Total Deaths,GDP per Capita,Population Density,Continent,Country_y,Most Recent Gini Index
0,ABW,Aruba,3.684694,0.660905,3934.0,26.0,35973.781,584.800,North America,NaN,NaN
1,AFG,Afghanistan,0.100837,3.714271,39254.0,1458.0,1803.987,54.422,Asia,NaN,NaN
2,AGO,Angola,0.014924,3.649337,4905.0,179.0,5819.495,23.890,Africa,Angola,51.3
3,ALB,Albania,0.469734,2.840657,13518.0,384.0,11803.431,104.871,Europe,Albania,33.2
4,ARE,United Arab Emirates,0.941216,0.446879,93090.0,416.0,67293.483,112.442,Asia,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
181,OWID_KOS,Kosovo,0.805785,4.013099,15574.0,625.0,9795.834,168.155,Europe,NaN,NaN
182,YEM,Yemen,0.006823,28.894349,2035.0,588.0,1479.147,53.508,Asia,NaN,NaN
183,ZAF,South Africa,1.134019,2.478099,672572.0,16667.0,12294.876,46.754,Africa,NaN,NaN
184,ZMB,Zambia,0.080043,2.256201,14715.0,332.0,3689.251,22.995,Africa,Zambia,57.1
185,ZWE,Zimbabwe,0.052729,2.909277,7837.0,228.0,1899.775,42.729,Africa,Zimbabwe,44.3

In [11]:
#preparing the internet dataframe
internetdf = pd.read_csv('Internet.csv')
internetdf = internetdf[['ISO CODE', '2017']]
col = internetdf.loc[: , "2017"]
internetdf['Proportion of Internet Users in the Population in 2017'] = col/100
internetdf = internetdf.rename(columns = {'ISO CODE' : 'ISO'})
internetdf = internetdf.drop(columns = '2017')
internetdf

     ISO  Proportion of Internet Users in the Population in 2017
0    ABW                                           0.971700
1    AFG                                           0.114477
2    AGO                                           0.143391
3    ALB                                           0.718470
4    AND                                           0.915675
..   ...                                                ...
259  XKX                                           0.838936
260  YEM                                           0.267184
261  ZAF                                           0.561674
262  ZMB                                           0.278526
263  ZWE                                           0.270555

[264 rows x 2 columns]

In [12]:
#inner join with the covidfdf1 and internet df
df = pd.merge(left=df, right=internetdf, how = 'left', left_on='ISO', right_on='ISO')
df.isnull().sum()

ISO                                                        0
Country_x                                                  0
Infection Rate %                                           0
Mortality Rate %                                           0
Total Cases                                                0
Total Deaths                                               0
GDP per Capita                                             0
Population Density                                         0
Continent                                                  0
Country_y                                                 79
Most Recent Gini Index                                    79
Proportion of Internet Users in the Population in 2017     9
dtype: int64

In [13]:
df.tail(10)

,ISO,Country_x,Infection Rate %,Mortality Rate %,Total Cases,Total Deaths,GDP per Capita,Population Density,Continent,Country_y,Most Recent Gini Index,Proportion of Internet Users in the Population in 2017
176,USA,United States,2.172509,2.864640,7191061.0,205998.0,54225.446,35.608,North America,United States,41.1,0.872749
177,UZB,Uzbekistan,0.168869,0.828040,56519.0,468.0,6253.104,76.134,Asia,NaN,NaN,0.487000
178,VCT,Saint Vincent and the Grenadines,0.057685,0.000000,64.0,0.0,10727.146,281.787,North America,NaN,NaN,NaN
179,VEN,Venezuela,0.261511,0.835093,74363.0,621.0,16745.022,36.253,South America,NaN,NaN,0.643134
180,VNM,Vietnam,0.001124,3.199269,1094.0,35.0,6171.884,308.127,Asia,Vietnam,35.7,0.581400
181,OWID_KOS,Kosovo,0.805785,4.013099,15574.0,625.0,9795.834,168.155,Europe,NaN,NaN,NaN
182,YEM,Yemen,0.006823,28.894349,2035.0,588.0,1479.147,53.508,Asia,NaN,NaN,0.267184
183,ZAF,South Africa,1.134019,2.478099,672572.0,16667.0,12294.876,46.754,Africa,NaN,NaN,0.561674
184,ZMB,Zambia,0.080043,2.256201,14715.0,332.0,3689.251,22.995,Africa,Zambia,57.1,0.278526
185,ZWE,Zimbabwe,0.052729,2.909277,7837.0,228.0,1899.775,42.729,Africa,Zimbabwe,44.3,0.270555

In [14]:
df.to_csv('main.csv')
#we export it to another csv file so another notebook can be used